<!DOCTYPE html>
<html ng-app="validator">
<head lang="en">
    <meta charset="UTF-8">
    <title>Validator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/codemirror/addon/hint/show-hint.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<section class="meal-validation" ng-controller="MealValidationCtrl as validator">
    <div ng-show="validator.loading">
        <div us-spinner="{radius:30, width:8, length: 16}" spinner-start-active="true"></div>
    </div>
    <div id="panel-meal-{{meal.getId()}}" class="panel panel-default" ng-repeat="meal in validator.meals"
         ng-cloak>
        <div class="panel-heading meal-validation-heading" ng-click="validator.toggleMealOpen(meal.getId())">
            <h3 class="panel-title">{{meal.getDate() | date:'dd/MM/yyyy'}} - {{meal.getType() | mealType}}</h3>
        </div>
        <div class="panel-body meal-validation-body" ng-show="validator.openedMeal[meal.getId()]"
             ng-controller="EditorCtrl as editor">
            <section ng-hide="editor.loading">
                <form class="meal-validation-form">
                    <div class="meal-validation-form-editor">
                        <textarea ui-codemirror="editor.cmOption" ng-model="editor.cmModel"
                                  title="mealeditor"></textarea>
                    </div>
                    <ul class="meal-validation-form-buttons pager">
                        <li class="meal-validation-form-button-left">
                            <button type="button" class="btn btn-danger"
                                    ng-click="editor.markClosed($index, meal.getId())">
                                <span class="glyphicon glyphicon-remove meal-validation-form-button-icon"
                                      aria-hidden="true"></span>
                                Mark as closed
                            </button>
                        </li>
                        <li class="meal-validation-form-button-right">
                            <button type="button" class="btn btn-primary"
                                    ng-click="editor.validate($index, meal.getId())">
                                <span class="glyphicon glyphicon-ok meal-validation-form-button-icon"
                                      aria-hidden="true"></span>
                                Validate
                            </button>
                        </li>
                    </ul>
                </form>
            </section>
            <section ng-show="editor.loading">
                <div us-spinner="{radius:30, width:8, length: 16}" spinner-start-active="true"></div>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript" src="../bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>

<script src="../bower_components/spin.js/spin.js"></script>
<script src="../bower_components/angular-spinner/angular-spinner.js"></script>

<script type="text/javascript" src="js/meal/model.js"></script>
<script type="text/javascript" src="js/meal/resource.js"></script>
<script type="text/javascript" src="js/meal/service.js"></script>
<script type="text/javascript" src="js/meal/controller.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<script src="../bower_components/codemirror/addon/hint/show-hint.js"></script>

<script src="js/codemirror-addon/hint/miamu-hint.js"></script>

<script src="js/codemirror-addon/mode/miamu-mode.js"></script>
</body>
</html>